#startPage {
    position: center;
    text-align: center;
}

h1 {
    position: absolute;
    top: 150px; 
    left: 50%;
    transform: translateX(-50%);
    color: rgb(235, 228, 228); 
    font-family: 'Courier New', Courier, monospace;
    
}

#startGame {
    position: absolute;
    top: 210px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #941d45; 
    color: rgb(225, 222, 222); 
    border: black;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    width: 100%; 
    height: auto; 
}
